* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}
body {
  font-family: "poppins", sans-serif;
  background-color: rgb(252, 252, 252);
  min-height: 100vh;
  position: relative;
  padding-bottom: 160px;
}
input,
select textarea {
  outline: none;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.Container {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 0 10px;*/
}

/*NavBar---------------------------------------------------*/
.NavBar {
  background-color: white;
  position: fixed;
  width: 100%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 900;
}
.NavContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.ActiveNav {
  border-bottom: 5px solid #21abf6;
  cursor: pointer;
}
nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
nav a {
  padding: 30px 15px;
  color: black;
}

.navOverlay {
  display: none;
}
.logos {
  position: absolute;
  display: flex;
  width: 100px;
  padding: 0px 20px;
}
.logos img {
  object-fit: cover;
  max-width: 100%;
}
.fa-bars {
  font-size: 20px;
}
.MainBars {
  display: none;
}
/*Banneer---------------------------------------------------*/
.Banner {
  padding-top: 88px;
}
.AboutBanner {
  background-image: url("../Image/BgAbout.jpg");
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  position: relative;
}

/* History container-------------------------------------------*/
.History {
  padding: 20px;
}
.HistoryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 5px;
}
.BoxHistory {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.BoxHistory i {
  padding: 20px;
  font-size: 40px;
  font-weight: 500;
}

/* Footer----------------------------------------------------*/
footer {
  position: absolute;
  background-color: #4a4b4b;
  left: 0;
  right: 0;
  bottom: 0;
}
.FooterContainer {
  padding: 30px 10px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}
.Followus i {
  font-size: 25px;
  cursor: pointer;
}
/* Animations-------------------------------------------*/

@keyframes SlideFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes SlideFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
/*Media queries for Mobles-----------------------------------*/

/*NavBar---------------------------------------------------*/
@media screen and (max-width: 768px) {
  .NavContainer {
    justify-content: space-between;
  }
  .MainBars {
    display: block;
    padding: 30px;
  }
  .NavBar {
    width: 100%;
  }
  nav {
    width: 60%;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    overflow: auto;
  }
  nav a {
    padding: 8px 30px;
    border-bottom: 1px solid rgb(233, 230, 230);
    margin-top: 10px;
  }
  .masklogos {
    height: 30%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .masklogos img {
    max-width: 40%;
  }
  .navOverlay {
    background-color: rgba(0, 0, 0, 0.01);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    display: none;
  }
  .ToggleSideMenus {
    display: flex;
  }
  .ToggleSubMenus {
    display: grid;
  }
  .HistoryContainers,
  .HistoryBusiness {
    flex-direction: column;
  }
  .ImpactContainer {
    flex-direction: column;
  }
  .BioTitles,
  .Address,
  .Followus {
    border-bottom: 1px solid white;
    padding: 10px 20px;
  }

  .FooterContainer {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  body {
    padding-bottom: 260px;
  }
  .HistoryContainer {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .Banner {
    padding-top: 85px;
    color: white;
  }
}
@media screen and (max-width: 425px) {
  body {
    font-size: 13px;
  }
  nav {
    width: 80%;
  }
  .NavBar {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  /*Banners=========================================*/
  .BannerTitles {
    margin-bottom: 0px;
  }
  .BannerContainer {
    text-align: center;
  }
  .FooterContainer {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .box i {
    font-size: 25px;
  }
  .BioTitles,
  .Address,
  .Followus {
    border-bottom: 1px solid white;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 320px) {
  .HistoryContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
