* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}
body {
  font-family: "poppins", sans-serif;
  background-color: rgb(252, 252, 252);
  min-height: 100vh;
  position: relative;
}
input,
select textarea {
  outline: none;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.Container {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 0 10px;*/
}

/*NavBar---------------------------------------------------*/
.NavBar {
  background-color: white;
  position: fixed;
  width: 100%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 900;
}
.NavContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.ActiveNav {
  border-bottom: 5px solid #21abf6;
  cursor: pointer;
}
nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
nav a {
  padding: 30px 15px;
  color: black;
}
.logos {
  position: absolute;
  display: flex;
  width: 100px;
  padding: 0px 20px;
}
.logos img {
  object-fit: cover;
  max-width: 100%;
}
.fa-bars {
  font-size: 20px;
}
.MainBars {
  display: none;
}
/*Banner---------------------------------------------------*/
.banner {
  width: 100%;
  min-height: 60vh;
  position: relative;
  overflow: hidden;
}
.skews {
  z-index: 800;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  transform-origin: top left;
  transform: skewY(-2deg);
}
.banner::after {
  position: absolute;
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../Image/Back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: top left;
  transform: skewY(-2deg);
}
.BannerContainer {
  position: absolute;
  z-index: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  color: white;
  padding: 0 110px;
  animation: SlideFromLeft 1s ease-in-out;
}
.BannerTitles {
  margin-bottom: 20px;
}
.BannerTitles p {
  border-bottom: 1px solid white;
}
.btnMore {
  margin-top: 20px;
}
.btnMore a {
  font-weight: 500;
  background-color: #2688e3;
  color: white;
  padding: 10px;
  border-radius: 6px;
}
/* What we do----------------------------------------------------*/
.TodContainer {
  padding: 30px 0px;
}
.TodContainer p {
  margin-bottom: 20px;
}
.ContentTodo {
  text-align: center;
  padding: 20px;
}
.ContImg {
  overflow: hidden;
  border-radius: 10px;
}
.More a {
  font-weight: 500;
  background-color: #2688e3;
  color: white;
  padding: 10px;
  border-radius: 6px;
}
.BoxContent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  justify-content: center;
}
.Boxes {
  background-color: #2688e3;
  padding: 20px;
  color: white;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Boxes i {
  font-size: 50px;
  padding: 10px;
}
/* Biomassters Videos----------------------------------------------------*/
.BiomassVideos {
  background-color: white;
}
.BiomassVideosCont {
  padding: 10px;
}
.VideosContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 5px;
}
iframe {
  display: block;
  width: 100%;
}
.videosBoxes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.videosBoxes p {
  color: rgb(177, 177, 177);
}

.VideosTilres {
  text-align: center;
  padding: 10px;
}
.VideosTilres span,
.PartnersTilres span {
  font-weight: 500;
  padding: 0px 10px;
}
.Partners {
  background-color: white;
}
.PartnersTilres {
  text-align: center;
  padding: 10px;
}
.PartnersCont {
  padding: 10px 0px;
}
.BoxPatners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.box {
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box i {
  font-size: 50px;
  color: rgb(71, 69, 69);
}
/* Customers Comments----------------------*/
.TestimonyCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 20px;
}
.TestContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.message {
  padding-bottom: 10px;
}
.message p {
  line-height: 1.8;
}
.profiles {
  padding-bottom: 20px;
  text-align: left;
}
.profiles p {
  font-size: 13px;
}
.profiles span {
  font-size: 20px;
}
.Bold {
  font-weight: 600;
}
.fa-quote-left,
.fa-quote-right {
  color: #21abf6;
  padding: 0px 15px;
}
.btn {
  color: #21abf6;
}
.btn button {
  color: #21abf6;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}
.fa-chevron-left,
.fa-chevron-right {
  padding: 10px;
  font-size: 25px;
  pointer-events: none;
}
/* Footer----------------------------------------------------*/
footer {
  background-color: #4a4b4b;
  left: 0;
  right: 0;
  bottom: 0;
}

.FooterContainer {
  padding: 30px 10px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}
.Followus i {
  font-size: 25px;
  cursor: pointer;
}
/* Animations-------------------------------------------*/

@keyframes SlideFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes SlideFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
/*Media queries for Mobles-----------------------------------*/

/*NavBar---------------------------------------------------*/
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .NavContainer {
    justify-content: space-between;
  }
  .MainBars {
    display: block;
    padding: 30px;
  }
  .NavBar {
    width: 100%;
  }
  nav {
    width: 40%;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    overflow: auto;
  }
  nav a {
    padding: 8px 30px;
    border-bottom: 1px solid rgb(233, 230, 230);
    margin-top: 10px;
  }
  .navOverlay {
    background-color: rgba(0, 0, 0, 0.01);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    display: none;
  }
  .masklogos {
    height: 30%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .masklogos img {
    max-width: 40%;
  }
  .ToggleSideMenus {
    display: flex;
  }
  .ToggleSubMenus {
    display: grid;
  }
  /* Banner responsive================================*/
  .BannerContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin-top: 20px;
    font-size: 14px;
  }
  .TodContainer {
    width: 100%;
  }

  .BioTitles,
  .Address,
  .Followus {
    border-bottom: 1px solid white;
    padding: 10px 20px;
  }
  footer {
    position: relative;
  }
  .FooterContainer {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .NavBar {
    width: 100%;
  }
  .TestContainer {
    width: 100%;
  }
  .profiles span {
    font-size: 15px;
  }
  .BoxContent {
    gap: 10px;
  }
  .btn i {
    font-size: 20px;
  }
  .message {
    text-align: justify;
  }
  .BoxContent {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .VideosContainer {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media screen and (max-width: 425px) {
  body {
    font-size: 13px;
  }
  nav {
    width: 80%;
  }

  /*Banners=========================================*/
  .BannerTitles {
    margin-bottom: 0px;
  }
  .BannerContainer {
    text-align: center;
  }
  .FooterContainer {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .box i {
    font-size: 25px;
  }
  .BioTitles,
  .Address,
  .Followus {
    border-bottom: 1px solid white;
    padding: 10px 20px;
  }
  .box {
    border-top: 1px solid rgb(204, 204, 204);
  }

  .NavBar {
    width: 100%;
  }
  .TestContainer {
    width: 100%;
    padding: 5px;
    margin-top: 20px;
  }
  .BoxContent {
    gap: 5px;
  }
}
